body {
  font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', sans-serif;
  background-color: var(--starterBackground);
  min-height: 100%;
}

@font-face {
  font-family: 'BreeSerif-Regular';
  src: local('BreeSerif-Regular'), url('./fonts/BreeSerif-Regular.ttf') format('truetype');
}

:root {
  --cardEdge: #ffe78f;
  --starterBackground: #393c41;
  --blue: #0075BE;
  --blueActive: #008ee6;
  --yellow: #FFCC00;
  --darkBlue: #3c5aa6;   
  --gold: #c7a008;
  --purple: #242155;
  --red: #d53141;
  --green: #8bc57b;
}

.wrapper{
  position: absolute;
  width: 100%;
}

.moving-van{
  position: absolute;
  width: 100px;
  z-index: 10;
  left: 18%;
  animation: moveBus 9s ease-in-out forwards;
}

.moving-van2{
  position: absolute;
  width: 100px;
  z-index: 10;
  left: -10%;
  animation: moveBus2 4s ease-in-out 5.5s forwards;
}

/* @keyframes moveBus{
  0% {
  left: 18%;
  }
  25% {
    left: 80%
  }
  75% {
  left: 18%;
  }
  100% {
    left: 0;
  }
} */

@keyframes moveBus2{
  0% {
  left: -10%;
  }
  100% {
  left: 18%;
  }
}














.margin-top-ten {
  margin-top: 10px;
}

.turn-visible {
  opacity: 1;
  font-family: 'BreeSerif-Regular';
  color: var(--cardEdge);
  font-size: x-large;
  margin: 0 10px;
}

.turn-invisible {
  opacity: 0;
  font-family: 'BreeSerif-Regular';
  font-size: x-large;
  margin: 0 10px;
}

@keyframes loader {
  0% {rotate: 0deg;}
  5% {rotate: 18deg;}
  10% {rotate: 36deg;}
  15% {rotate: 54deg;}
  20% {rotate: 72deg;}
  25% {rotate: 90deg;}
  30% {rotate: 108deg;}
  35% {rotate: 126deg;}
  40% {rotate: 144deg;}
  45% {rotate: 162deg;}
  50% {rotate: 180deg;}
  55% {rotate: 198deg;}
  60% {rotate: 216deg;}
  65% {rotate: 234deg}
  70% {rotate: 252deg;}
  75% {rotate: 270deg;}
  80% {rotate: 288deg;}
  85% {rotate: 306deg;}
  90% {rotate: 324deg;}
  95% {rotate: 342deg;}
  100% {rotate: 360deg;}
}

.rotating-pokeball {
  animation: loader 4s infinite;
  animation-play-state: running;
}

.paused {
  animation-play-state: paused;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10vw;
  background-color: var(--cardEdge);
  color: var(--starterBackground);
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -150%;
  left: 30%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.button-stat {
  width: 13vw;
  height: 3vw;
  margin: 1%;
  border: solid 0.2vw var(--starterBackground);
  background-color: var(--blue);
  color: white;
}

.button-stat:hover {
  cursor: pointer;
  background-color: var(--blueActive);
}

.button-stat:active {
  background-color: var(--blueActive);
  box-shadow: 0 5px var(--starterBackground);
  transform: translateY(4px);
}

.button-stat:disabled:active {
  box-shadow: none;
  transform: none;
  background-color: var(--blue);
}

.button-stat:disabled:hover {
  box-shadow: none;
  cursor: default;
  background-color: var(--blue);
}

.stat {
  margin: 2%;
  text-align: left;
  border-bottom: solid 1px black;
}

#stat-revealed {
  background-color: var(--cardEdge);
  color: black;
  border: transparent;
}

.enemy-stat {
  text-align: left;
}

.player-stat {
  text-align: right;
}

.stat-and-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reversed {
  flex-direction: row-reverse;
}


.button-card {
  background: none;
  border: none;
  
}

@keyframes move-right{
  0% {left: 40%;}
  10% {left: 42%;}
  20% {left: 44%;}
  30% {left: 46%;}
  40% {left: 48%;}
  50% {left: 50%}
  60% {left: 48%;}
  70% {left: 46%;}
  80% {left: 44%;}
  90% {left: 42%;}
  100% {left: 40%;}
}

@keyframes move-left{
  0% {left: 40%;}
  10% {left: 38%;}
  20% {left: 36%;}
  30% {left: 34%;}
  40% {left: 32%;}
  50% {left: 30%}
  60% {left: 32%;}
  70% {left: 34%;}
  80% {left: 36%;}
  90% {left: 38%;}
  100% {left: 40%;}
}

.winning-result {
  position: absolute;
  width: 300px;
}

.player-attack {
  position: absolute;
  animation: move-right 0.5s;
}

.no-attack {
  position: absolute;
}

.enemy-attack {
  position: absolute;
  animation: move-left 0.5s;
}

.page-in-half {
  display: flex;
  margin: 0.5em;
}

.choose-deck-titles {
  display: flex;
  margin: 1em;
}

.instruction {
  font-family: 'BreeSerif-Regular';
  font-size: xx-large;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: var(--cardEdge);
}

.tooltipIcon {
  width: 100%;
  height: 100%;
  /* font-size: large; */
  font-weight: bolder;
  background-color: var(--green);
  color: var(--cardEdge);
  border: solid 3px var(--cardEdge);
  border-radius: 50%;
  padding: 0.1em 0.2em;
}
.flex-120 {
  display: flex;
  justify-content: center;
  flex: 1;
}

.flex-80 {
  display: flex;
  justify-content: center;
  flex: 0.8;  
}

.pokemon-storage-box {
  display: grid;
  width: 50%;
  height: 60vh;
  padding: 0.8em;
  background-color: var(--blue);
  grid-gap: 0.3em;
  margin: 1em;
  margin-top: 0;
  flex: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  overflow-y: scroll;
  border: solid 3px var(--cardEdge);
}

.active-pokemon-storage-box {
  display: grid;
  width: 50%;
  height: 60vh;
  padding: 0.8em;
  background-color: var(--blue);
  margin: 1em;
  margin-top: 0;
  flex: 0.8;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  border: solid 3px var(--cardEdge);
}

.text {
  color: var(--starterBackground);
  font-family: 'BreeSerif-Regular';
  font-size: 32px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.button-title {
  font-family: 'BreeSerif-Regular';
  font-size: 22px;
  margin-top: 0px;
  padding: 1%;
  text-align: center;
  background-color: var(--cardEdge);
  border: solid 10px var(--cardEdge);
  border-top: none;
}

/* Pokemon card */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card-large {
  border: solid 0.6vw var(--cardEdge);
  outline: 0.1vw solid var(--gold);
  outline-offset: -0.6vw;
  margin: 10px;
  width: 16vw;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;

}

.card-medium {
  border: solid 0.4vw var(--cardEdge);
  outline: 0.1vw solid var(--gold);
  outline-offset: -0.4vw;
  margin: 5px;
  width: 14vw;
  padding: 3%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-small {
  border: solid 0.2vw var(--cardEdge);
  outline: 0.1vw solid var(--gold);
  outline-offset: -0.1vw;
  margin: 2px;
  width: 10vw;
  padding: 1%;
}

.card-large:hover, .card-small:hover, .image-overlay-container:hover {
  box-shadow: 0 8px 16px 8px rgb(255, 231, 143);
}

.card .name {
  font-family: 'BreeSerif-Regular';
  text-align: center;  
}

.card-large .name {
  letter-spacing: 3px;
  padding: 0px;
  margin: 10px;
}

.card-medium .name {
  letter-spacing: 2px;
  padding: 0px;
  margin: 6px;
}

.card-small .name {
  font-size: large;
  letter-spacing: 1px;
  padding: 0px;
  margin: 2px;
}

.card .sprite {
  display: flex;
  
}

.card .sprite-container {
  display: flex;
  justify-content: center;
}

.card-large .sprite {
  width: 15vw;
  border: solid 0.6vw var(--cardEdge);
}

.card-medium .sprite {
  width: 12vw;
  border: solid 0.3vw var(--cardEdge);
}

.card-small .sprite {
  width: 10vw;
  border: solid 0.1vw var(--starterBackground);
}

/* Buttons */

button {
  color: black;
  font-size: large;
  border-radius: 6px;
}

.button-card:disabled{
  cursor: default;
  opacity: 0.3;
}

.button-arrow {
  background: transparent;
  border: none;
}


/* Button Groups */

.stat-button-group {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Image classes */

.home-button-image {
  display: block;
  border: solid 10px var(--cardEdge);
}

.title-image {
  height: 18vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--cardEdge);
}


/* Containers */

.carousel-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.horizontal-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.second-horizontal-container {
  flex: 0.3;
  display: flex;
  justify-content: space-evenly;
}

.third-horizontal-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.image-overlay-container {
  position: relative;
  margin: 3%;
  margin-bottom: 0px;
}

.image-overlay-container:hover .overlay {
  opacity: 0.8;
  cursor: pointer
}

/* Each card gets a class based on type which dictates background colour of card and sprite */

.bug-pokemon {
  background-image: linear-gradient(to bottom right, #ff9442,#e5b38b,#dc9965,#e6b793,#ebc66f,#e1c27a);
  .sprite {background-image: url('../public/images/bug-background.jpg');}
}

.dragon-pokemon {
  background-image: linear-gradient(to bottom right, #b3cacc,#aac8ca,#a3c0c2,#9bc2c5,#a1d0d4,#94b5b8);
  .sprite {background-image: url('../public/images/dragon-background.jpg');}
}

.electric-pokemon {
  background-image: linear-gradient(to bottom right, #ffffa4,#fff870,#fff200,#fff870,#ffffa4,#fff870);
  .sprite {background-image: url('../public/images/electric-background.jpg');}
}

.fairy-pokemon {
  background-image: linear-gradient(to bottom right, #ffaa80,#b3ccff,#ffbf80,#ff99e6, #b3cccc,#c6ffb3);
  .sprite {background-image: url('../public/images/fairy-background.jpg');}
}

.fighting-pokemon {
  background-image: linear-gradient(to bottom right, #a97623,#e5c19e,#d4995e,#e3b782,#a1642b,#d99f59);
  .sprite {background-image: url('../public/images/fighting-background.jpg');}
}

.fire-pokemon {
  background-image: linear-gradient(to bottom right, #ff928a,#ff978f,#ff756b,#ff594c,#ff756b,#ff978f);
  .sprite {background-image: url('../public/images/fire-background.jpg');}
}

.ghost-pokemon {
  background-image: linear-gradient(to bottom right, #a278de,#9292dd,#8874ec,#a494f5,#9a87de,#c896ee);
  .sprite {background-image: url('../public/images/ghost-background.jpg');}
}

.grass-pokemon {
  background-image: linear-gradient(to bottom right, #97ee5d,#78cf8b,#4fb665,#319d49,#4fb665,#78cf8b);
  .sprite {background-image: url('../public/images/grass-background.jpg');}
}

.ground-pokemon {
  background-image: linear-gradient(to bottom right, #c0aa30,#d9cf78,#d5cc7c, #b7aa30, #d9d978,#c7bb52);
  .sprite {background-image: url('../public/images/ground-background.jpg');}
}

.poison-pokemon {
  background-image: linear-gradient(to bottom right, #9999ff,	#cc99ff,#c09ae4, #c2b8e0, 	#ccc0f2,#baaaee);
  .sprite {background-image: url('../public/images/poison-background.jpg');}
}

.ice-pokemon {
  background-image: linear-gradient(to bottom right, #bffffa,#b8fff9,#ccfffb,#bef0f8,#bcf1fb,#dbfffc);
  .sprite {background-image: url('../public/images/ice-background.jpg');}
}

.normal-pokemon {
  background-image: linear-gradient(to bottom right, #d0d0e1,#ceced9,#D8BFD8, #d1ced9, #d0cadd,#ddd0e1);
  .sprite {background-image: url('../public/images/normal-background.jpg');}
}

.psychic-pokemon {
  background-image: linear-gradient(to bottom right, #feb8ea,#ffc7e9,#fea4e5,#fdb4f6,#ffb8e2,#fc97f2);
  .sprite {background-image: url('../public/images/psychic-background.jpg');}
}

.rock-pokemon {
  background: linear-gradient(to bottom right, #acb6c8,#c4c9d4,#9d9dbe,#acacc8,#8b8bb1, #bcc7dc);
  .sprite {background-image: url('../public/images/rock-background.jpg');}
}

.water-pokemon {
  background-image: linear-gradient(to bottom right, #97dfe7,#91cee8,#7ce3fd,#36d4fc,#91d7e8,#56b8dc);
  .sprite {background-image: url('../public/images/water-background.jpg');}
}

